<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ua.ricardomartins.qualar">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.WAKE_LOCK" />
    <uses-permission android:name="COM.GOOGLE.ANDROID.C2DM.PERMISSION.RECEIVE" />

    <permission
        android:name="com.ua.ricardomartins.qualar.PERMISSION.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ua.ricardomartins.qualar.PERMISSION.C2D_MESSAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Graphic_Index"
            android:label="@string/title_activity_graphic__index"
            android:parentActivityName=".activities.Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Tutorial"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Measurements"
            android:label="@string/title_activity_measurements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.Graphic"
            android:label="@string/title_activity_graphic"
            android:parentActivityName=".activities.Measurements"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ua.ricardomartins.qualar.activities.Measurements" />
        </activity>
        />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="054f35f7e955871eee8d97c4872583d9f230466a" />

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ua.ricardomartins.qualar" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false"></service>
        <service
            android:name=".UnregisterIntentService"
            android:exported="false"></service>

        <activity
            android:name=".activities.Alerts"
            android:label="@string/title_activity_alerts"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>